<link href='https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css' rel='stylesheet' />

<div data-controller="map">
  <div id="map" data-tags="<%= @tags %>" data-tracks="<%= @tracks %>"></div>
<%# 
  <div class="map-overlay top w-auto">
    <div class="map-overlay-inner">
      <fieldset>
        <label for="pitch">Pitch</label>
        <input type="range" id="pitch" name="pitch" min="0" max="90" value="72" />
      </fieldset>
      <fieldset>
        <label for="bearing">Bearing</label>
        <input type="range" id="bearing" name="bearing" min="0" max="360" value="270" />
      </fieldset>
      <fieldset>
        <label for="zoom">Zoom</label>
        <input type="range" id="zoom" name="zoom" min="7" max="16" value="13" />
      </fieldset>
    </div>
  </div> %>
</div>
